header {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    flex-direction: row;
     
}

header h1 span{
    background: #4aaaa5;
    color: #ffffff;
    padding: 15px 15px 15px 15px;
    text-align: center;
    margin: 25px 0px 0px 0px;
}

nav {
    display: inline-block;
    display: inline;
    background: #ffffff;
    height: 20px;
  
  }

body {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);     
    border-color:#4aaaa5;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

img {
    width: 260px;
    height: auto;
}

div {
    background-color: #ffffff;

}

li {
    list-style: none;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 .portfolio h2 { 
    position: absolute; 
    top: 300px; 
    left: 0px; 
    width: 100%; 
 }

 h2 span { 
    color: #ffffff; 
    font: bold 24px/45px 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    letter-spacing: -1px;  
    background: #4aaaa5; /* fallback color */
    background: #4aaaa5;
    padding: 10px 80px; 
 }

 